.meniu-navigare{
    display: flex;
    align-items: center;
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;    /* Pozitioneaza la marginea de sus */
    width: 100%; /* intreaga latime a ecranului */
}

.meniu-navigare li{
    flex: 1; /* Fiecare element ocupa un spatiu egal */
    text-align: center;
    border-right: 2px solid #bbb; 
}

.meniu-navigare li:last-child {
    border-right: none;
}


.meniu-navigare li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
}

.meniu-navigare li a:hover{
    background-color: #E69A55;
    color: black;
}

.meniu-navigare li a.active {
    background-color: #E69A55;
    color: black;
}

 /* PENTRU A DOUA BARA DE NAVIGARE, ACOLO UNDE ESTE CAZUL */
 
.sub-meniu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #555;
    
    width: 100%;
    z-index: 999;
}

.sub-meniu li {
    text-align: center;
    border-right: 1px solid #999;
}

.sub-meniu li:last-child {
    border-right: none;
}

.sub-meniu li a {
    display: inline-block;
    color: #fff;
    padding: 15px 90px;
    text-decoration: none;
    white-space: nowrap; /* să nu se rupă pe mai multe rânduri */
    background-color: #666;
}

.sub-meniu li a:hover {
    background-color: #E69A55;
    color: black;
}

.sub-meniu li a.active {
    background-color: #E69A55;
    color: black;
}




